<div style="margin-top: 10px">
    <div class="row, col-sm-6 col-md-4" ng-repeat="teh in new">
        <div>
            <div class="thumbnail">
                <a rel="nofollow" target="_blank" href="{{ teh.Foto }}">
                    <img ng-src="{{ teh.Foto }}">
                </a>
                <div class="caption">
                    <h3>{{ teh.Model }}</h3>
                    <p style="color: crimson">ЦЕНА: {{ teh.Price }}</p>
                    <p style="color: seagreen" data-toggle="tooltip" title="{{ teh.Harakter }}">Описание: {{ teh.Harakter | limitTo:50 }}</p>
                </div>
                <button style="color: darkmagenta" class="btn" ng-click="alert('Hello')">КУПИТЬ</button>
            </div>
        </div>
    </div>
</div>

