<div id="base">
    <div>
        <h3>Показать только:</h3>
        <a href="#/tvP"><button type="button">Panasonic</button></a>
        <a href="#/tv"><button type="button">Все телевизоры</button></a>
    </div>
    <div class="element" ng-repeat="teh in tvs">
        <div class="foto">
            <a rel="nofollow" target="_blank" href="{{ teh.Foto }}">
                <img id="img" ng-src="{{ teh.Foto }}"/></a>
        </div>    
        <div>
            <h3>{{ teh.Model }}</h3>
            <p style="color: crimson">ЦЕНА: {{ teh.Price }} грн.</p>
            <p style="color: seagreen" data-toggle="tooltip" title="{{ teh.Harakter }}">Описание: {{ teh.Harakter | limitTo:50 }}</p>
        </div>
        <button class="bay" type="button">КУПИТЬ</button>
    </div>
</div>